<!DOCTYPE html>
<html>
 <head>
  <title>CS2C - TreeWhiz: Visualize your Trees</title>
  <link rel="stylesheet" href="css/app.css" />
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  
 </head>

 <body ng-app="TreeWhizApp" ng-controller="TWController">
     <div class=boxHeaderDiv>
       <h1>Foothill TreeWhiz - Visualize your Trees</h1>
       <p>On this page you can visualize the trees you produce. Simply (implement and) use a
	 <a href="cpp/index.html"><span class=codeSpan>to_json()</span></a>
         method for JSON serialization and copy/paste the output
	 into the green text-input window at the bottom. Alternately, you can simply paste the
	 output of your display() method which outputs the tree in <a href=ltn.html>LTN</a> format.
         Your tree should be <em><strong>beautifully</strong></em> rendered in the panel just below
	 this paragraph.</p>
     </div>

     <table style="margin:auto;"><tr>
      <td valign="top" style="text-align:left;">
       <div style="text-align:left;">
         <span id=_tw_spanTooltip
               title="To save, simply resize the box (if nec.) to fit the tree and take a Screen Snip.">
           Save a tree!
         </span>
       </div>
       <div id=_tw_treeContainerDiv></div><br/>
      </td>

      <td valign="top" style="text-align:left">
       <div style="text-align:left;">
        <span id=_tw_spanTooltip
              title="You can clear the contents of the box below and paste or type your own Tree Spec in it.">
         Try out your own JSON or <a href=ltn.html>LTN tree</a>
        </span>
       </div>
       <textarea id="_tw_inputArea" ng-model=treeJsonStr ng-trim=false ng-keyup="tryDisplay()" ng-click="tryDisplay()">
       </textarea><br/>
      </td><br/>
     </tr></table>

  <div id="footerDiv">
    I've produced the visualization using <a href="http://d3js.org">Mike Bostock's D3
    library</a>. Uses the <a href="http://reingold.co/tidier-drawings.pdf">Reingold-Tilford
    algorithm</a> for layout calculations.<br/></br>
<br/><br/>
    Copyright (c) 2016, Foothill College.
  </div>

  <script type="text/javascript" src="js/scene-json.js"></script>
  <script type="text/javascript" src="js/app.js"></script>

 </body>

</html>
