/* Styles for the Towers of Hanoi solution.
 * &: Sep 2015 (Foothill College, Los Altos Hills, CA 94022)
 */

body {
 padding:10px; margin-left:40px; margin-right:40px; font-family:"Trebuchet MS",Arial;
 border:1px solid gold; border-radius:15px; box-shadow: 10px 10px lightgray;
}

#_hanoi_container {
 width: 900px;
 height:300px;    
 margin:auto;
 border:1px solid lightgray;
 border-radius: 20px;
 background: black;
 position:relative;
}

._hanoi_disc {
    border: 1px solid black;
    border-radius: 25%;
    width: 100px; /* To be overridden in code */
    height: 10px; /* To be overridden in code */
    background: -webkit-linear-gradient(left top, red, #222);
    position:absolute;
}

button {
 background-color: gold; font-family:"Trebuchet MS",Arial;font-size:14px;padding:4px; border-radius:4px;
}

button:disabled {
 background-color: #aaa;
}
 
h1 {
 color: red;
 text-shadow: 3px 3px 3px gray;
  -webkit-font-feature-settings: 'dlig' 1;
}

input {
 border-radius:2px;background-color:aliceblue;
}

input:disabled {
 background-color: pink; color:#888;
}

.prompt {
 color:red;
}

#_hanoi_page_header {
 text-align:center;font-family:"Trebuchet MS",Arial; width:800px;margin:auto;
}
